.contentDescubre {
  background-color: FB9595;
  display: inline-flex;
  text-align: center;
}

.left {
  text-align: center;
  justify-content: center;
  max-width: 50%;
  padding-top: 20%;
  padding-right: 7%;
  padding-left: 7%;
  padding-bottom: 10%;
}

.rigth {
  justify-content: center;
  display: flex;
  min-width: 50%;
  max-width: 50%;
}

.imgDescubre {
  width: 100%;
  height: 400px;

  opacity: 1;
}

.imgDescubreOpc {
  width: 100%;
  height: 400px;
  opacity: 0.5;
}

.top {
  margin: 0% 3% 0% 1%;
}

.DescubreMovil {
  display: inline;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .DescubreMovil {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .contentDescubre {
    display: none;
  }
}

.ImgMovil {
  height: 150px;
  width: 25%;
}

@media screen and (min-width: 768px) {
  .ImgMovil {
    display: none;
  }
}

.ImgMovil2 {
  height: 150px;
  width: 25%;
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .ImgMovil2 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .h1Descubre {
    width: 100%;
    display: inline-block;

    font-size: small;
  }
}