.content {
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-between;
  align-items: center;
}

.tittleAboutNilaik {
  text-align: center;
  color: white;
}

.ValoresNosotros {
  display: inline-block;
  width: 60%;
}
@media screen and (max-width: 537px) {
  .ValoresNosotros {
    display: inline-block;
    width: 100%;
  }
}

.aboutNilaikImg {
  display: flex;

  width: 100%;
}
.principal {
  display: inline-flex;
  max-width: 100%;
}
@media screen and (max-width: 537px) {
  .principal {
    display: inline-block;
    max-width: 100%;
  }
}
.aprincipal {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 40%;
  background-color: white;
}
@media screen and (max-width: 537px) {
  .aprincipal {
    display: flex;
    max-width: 100%;
    background-color: white;
  }
}

@media screen and (max-width: 537px) {
  .ValoresNosotros {
    display: inline-block;
    max-width: 100%;
  }
}
@media screen and (max-width: 537px) {
  .aboutNilaikImg {
    align-content: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: flex;
  }
}
.foo {
  position: relative;
  background-color: #2f5898;
}
