.content {
  margin: 50px 50px 50px 50px;
  display: inline-block;

}

.tittleAboutNilaik{
  text-align: center;
  color: white;
}

.ValoresNosotros {
  max-width: 69%;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .ValoresNosotros {
    max-width: 100%;
    display: inline-block;
    flex-wrap: nowrap;
  }
}

.aboutNilaikDiv{

  background-color: white;
  display: inline-block;
  margin-right: 2%;
  padding: 5% 0% 6.7% 0%;
  max-width: 40%;

}

@media screen and (max-width: 768px) {
  .aboutNilaikDiv {
    max-width: 100%;
    display: inline-block;

  }

}

.AboutNilaikImg{
  max-width: auto;
}