.img {
  display: inline-block;
  max-width: 30%;
  height: auto;
}

.text {
  display: inline-block;
  flex-direction: column;
  max-width: 30%;
  text-align: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
  justify-content: center;
  gap: 3%;
}
@media screen and (max-width: 768px) {
  .img {
    display: inline-block;
    max-width: 46%;
    flex-wrap: nowrap;
    margin: 0%;
  }
}

@media screen and (max-width: 768px) {
  .text {
    display: inline-block;
    max-width: 90%;
    flex-wrap: nowrap;
    color: azure;
    font-size: 12px;
  }
}
.content1 {
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.pexels.com/photos/1166209/pexels-photo-1166209.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  justify-content: space-evenly;
  margin: 0;
}
