.foo {
  position: relative;
  background-color: #2f5898;
}
@media screen and (max-width: 768px) {
  .cardmovil {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .card {
    display: none;
  }
}
