.CardContactVision {
  display: inline-block;
  max-width: 30%;
  height: auto;
  background-color: #f6d522;
}
@media screen and (max-width: 768px) {
  .CardContactVision {
    display: inline-block;
    max-width: 100%;
    flex-wrap: nowrap;
    margin: 0%;
  }
}
.CardMision {
  display: inline-block;
  max-width: 60%;
  height: auto;
  background-color: #22acf6;
}
@media screen and (max-width: 768px) {
  .CardMision {
    display: inline-block;
    max-width: 100%;
    flex-wrap: nowrap;
    margin: 0%;
  }
}
.CardValores {
  display: inline-block;
  max-width: 60%;
  height: auto;
  background-color: #f6d522;
}
.CardNosotros {
  display: inline-block;
  max-width: 60%;
  height: auto;
  background-color: #77f622;
}
