.container {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 150px 50px 150px;
  background-color: red;
  justify-content: center;
  /*  gap: 1em; */
}

/* .mainContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
  justify-content: center;
  gap: 1em;
} */
