.background {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f6d522;
  padding: 3%;
  width: 100%;
}

.cod {
  display: inline-block;
  width: 40%;
  font-size: 15px;
}
.name {
  display: inline-block;
  width: 60%;
  font-display: 100%;
  font-size: 12px;
}
.cost {
  display: inline-block;
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 15px;
}
.shopping {
  text-align: right;
  display: inline-block;
  width: 50%;
  height: 50%;
}
@media screen and (max-width: 768px) {
  .cards {
    width: 40%;
    height: 40%;
  }
}
.target {
  width: 29%;
  margin: 2%;
  align-self: center;
  justify-content: center;
  display: inline-block;
}

.CardProduct {
  width: 100%;
  height: auto;
  align-self: center;
  display: inline-block;
  margin: 0;
}
@media screen and (max-width: 810px) {
  .cost,
  .cod,
  .name {
    display: inline-block;
    max-width: 90%;
    flex-wrap: nowrap;
    color: black;
    font-size: 7.5px;
  }
}
@media screen and (max-width: 512px) {
  .cost,
  .cod,
  .name {
    display: inline-block;
    max-width: 90%;
    flex-wrap: nowrap;
    color: black;
    font-size: 5px;
  }
}
