.nav{
    background-color: #f6d522;
    display: flex;
    justify-content: space-between;
}
.options{
    display: flex;
    column-gap: 1rem;
    align-items: center;
}
.img{
    max-height: 80px;
}