.nav{
    background-color: #f6d522;
    display: flex;
    justify-content: space-between;
    height: 60px;
}
.options{
    display: flex;
    column-gap: 1rem;
    align-items: center;
    margin-right: 10px;
}
.img{
    max-height: 50px;
    margin-top: 5px;
    margin-left: 10px;
}