.nav{
    background-color: #f6d522;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    flex-direction: column;
    
}
.false{
    transform: translateY(0);
    display: flex;
    display: flex;
    column-gap: 1rem;
    align-items: center;
    margin-right: 10px;
    flex-direction: column;
}
.true{
    display: flex;
    column-gap: 1rem;
    align-items: center;
    margin-right: 10px;
    flex-direction: column;
    transform: translateY(-200%);
    display: none;
}

.img{
    max-height: 50px;
}
.hamburger{
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

@media screen and (min-width: 768px) {
    .nav{
        flex-direction: row;
    }
    .true{
        transform: translateY(0);
        color: black;
        flex-direction: row;
        display: flex;
    }
    .hamburger{
        display: none;
    }
}