.foo {
  position: relative;
  background-color: #2f5898;
}
.contend {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.SpecialThanksh2 {
  align-items: center;
  text-align: center;
  font-size: 35px;
  text-transform: none;
}

@media screen and (max-width: 464px) {
  .SpecialThanksh2 {
    font-size: 20px;
  }
}
