.CardVision{
  background-color: #F6D522;
  max-width: 60%;
  padding: 5% 2% 5% 2%;
  display: inline-block;
  margin-right: 2%;
  margin-bottom: 1%;

}
@media screen and (max-width: 768px) {
  .CardVision {
    display: inline-block;
    max-width: 100%;
    flex-wrap: nowrap;
    margin: 20px 0px 20px 0px;
  }
}

.CardMision{

    max-width: 33%;
    background-color: #A6B8D3;
    display: inline-block;
    padding: 4% 0% 4% 1%;

}

@media screen and (max-width: 768px) {
  .CardMision {
    display: inline-block;
    max-width: 100%;
    flex-wrap: nowrap;
    margin: 20px 0px 20px 0px;
  }
}


.CardValores{
    background-color: white;
    display: inline-block;
    margin-bottom: 2%;
    padding: 9% 3% 9% 3%;
    max-width: 100%;
}

@media screen and (max-width: 768px) {
  .CardValores {
    display: inline-block;
    max-width: 100%;
    flex-wrap: nowrap;
    margin: 20px 0px 20px 0px;
  }
}

.CardNosotros{
    background-color: #F6D522;
    display: inline-block;
    max-width: 100%;
    padding: 8% 3% 8% 3%;
}

@media screen and (max-width: 768px) {
  .CardNosotros{
    display: inline-block;
    max-width: 100%;
    flex-wrap: nowrap;
    margin: 20px 0px 20px 0px;
  }
}