footer {
  position: relative;
  background-color: #2f5898;
  margin-top: auto;
  align-items: center;
  justify-items: center;
  display: flex;
  color: #a6b8d3;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 25px 0;
}
@media screen and (max-width: 768px) {
  footer {
    padding: 0%;
    width: 100%;
  }
}

.Fimg {
  max-height: 50px;
}
@media screen and (max-width: 768px) {
  .Fimg {
    margin: 10px;
  }
}
.Fsection {
  padding-left: 10px;
  align-items: flex-start;
  margin-block-end: 20px;
  width: 50%;
  height: auto;
}
.Fsection2 {
  display: flex;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 768px) {
  .Fsection2, .Fsection {
    padding-left: 10px;
    display: block;
    align-items: flex-start;
    margin: 0%;
    width: 100%;
    height: auto;
  }
}

.Faddress {
  align-items: flex-start;
  padding-left: 10px;
}
/* @media screen and (max-width: 768px) {
  .Faddress {
    font-size: 12px;
    width: 100%;
  }
} */

.Fcatalogue {
  margin-block-end: 20px;
  width: 100%;
  height: auto;
}

.Flinks {
  margin-block-end: 20px;
  justify-content: end;
  width: 100%;
  height: auto;
}

.Fshipping {
  margin-block-end: 20px;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 768px) {
  .Fcatalogue,
  .Flinks,
  .Fshipping {
    font-size: 12px;
    display: flex;
    justify-content: center;
    margin: 0%;
    width: 100%;
  }
}
.Flis {
  list-style: none;
}

@media screen and (max-width: 768px) {
  .Flis{
    margin-top: 10%;
    display: inline-block;
    align-content:flex-end;
    width: 100%; 
  }
}


/* .content{
 
    position:absolute;
    justify-content: space-between;
    background-color: #2F5898;
    width: 100%;
    min-height: 18vh;
}
.text{
    color: #A6B8D3;
    text-align: start;
}

.catalogue{
   color: #A6B8D3;
    justify-content: center;
}
*/