body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.7008053221288515) 0%,
    rgba(251, 149, 149, 0.6867997198879552) 52%
  );
  color: #4f1f28;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* Para poder fijar el pie de página con posición absoluta */
  position: relative;
  /* Medida mínima */
  min-height: 100vh;
}
footer {
  /* Posicionar abajo */
  position: absolute;
  bottom: 0;
  /* Ocupar todo el ancho disponible */
  width: 100%;
  min-height: 20vh;
}
h2 {
  font-size: 1em;
}
a {
  color: #4f1f28;
  text-decoration: none;
}
a:hover {
  color: #923748;
}
