*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.faqsH2{
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 15px;
  color: white;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;


}

.faqs {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 25px;

}

.faqs, .faq {
  margin: 15px;
  padding: 15px;
  background-color: aqua;
  border-radius: 8px;

  box-shadow: 0px 0px 10px #f6f6f6;

}

.faqs, .faq, .faq-question {
  position: relative;
  font-size: 20px;
  padding-right: 80px;

  transition: all 0.4s ease;
  
}

.faqs, .faq, .faqQuestion::after{
  content: '';
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;


  /*background-image: url('');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;*/

  transition:  all 0.4s ease;
}


.faqs .faq .faqAnswer{
    opacity: 0;
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.4s ease;
}


.faqs .faq.open .faqQuestion{
  margin-bottom: 15px;

}

.faqs .faq.open .faqQuestion::after{
  transform: translateY(-50%) rotate(180deg);
}

.faqs .faq.open .faqAnswer{
  max-height: 1000px;
  opacity: 1;

}