        .p1error{
            font-size: 400%;
            border: 1px solid black;

        }
        .p2error{
            border: 1px solid black;
        }
        .izq404{
            border: 1px solid black;
            width: 60%;
            height: 100%;
        }
        .der404{
            width: 38%;
            border: 1px solid black;
        }
        .error404{
            background-color: #fb9595;
            display: flex;
            width: 80%;
            height: 300px;
            align-items: center;
            text-align: center;
            border: 1px solid black;
            margin-top: 25%;
            margin-left: 10%;
            margin-right: 30%
        }
        .imgerror{
            height: 100%;
            width: 100%;
        }